extends layouts/index

block content
	div.tracked-repos
		if apps.length === 0
			p.alert.alert-info There are no features deployed at the moment

		for app in apps
			.media
				div.media-left
					a(href="#")
						img.img-circle.media-object(src=app.pull_request.user.avatar_url)
				.media-body
					h3.media-heading
						= app.pull_request.title
					a(href=app.pull_request.head.repo.html_url)= app.pull_request.head.repo.full_name
					| !{_md.toHTML(app.pull_request.body)}
					div.btn-row
						a.btn.btn-primary.btn-sm(href=app.heroku_app.web_url target="_blank") View app
						a.btn.btn-default.btn-sm(href=app.pull_request.html_url) View pull request